repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: uv run ruff check --config pyproject.toml . --fix
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format --check --config pyproject.toml .
        language: system
        types: [python]
        pass_filenames: false
