name: Ruff

on:
  pull_request:
  push:
    branches: ["main"]

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up uv
        uses: astral-sh/setup-uv@v3
        with:
          version: "latest"

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: uv sync --dev

      - name: Ruff check
        run: uv run ruff check --config pyproject.toml .

      - name: Ruff format check
        run: uv run ruff format --check --config pyproject.toml .
